/*
body {
    padding-top: 5rem;
}
*/

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

div {
    border: 1px;
}

h3 {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: darkgray;
}
  